<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<a href="add-employee">Add Record</a>
		<table border="2">
			<tr>
				<th>Employee Name</th>
				<th>Employee Address</th>
				<th>Employee Phone</th>
				<th>Employee Salary</th>
				<th>Action 1</th>
				<th>Action 2</th>
			</tr>
			<tr th:each="temp : ${emp}">
			<td th:text="${temp.employeeName}"></td>
			<td th:text="${temp.employeeAddress}"></td>
			<td th:text="${temp.employeePhone}"></td>
			<td th:text="${temp.employeeSalary}"></td>
			<td><a th:href="@{update-employee-form(employeeId=${temp.employeeId})}">Update</a></td>
			<td><a th:href="@{delete-employee(employeeId=${temp.employeeId})}">Delete</a></td>
		</tr>
		</table>
</body>
</html>